span {
  font-weight: 100;
  font-size: 0.75rem;
}
.point {
  cursor: pointer;
}
.name {
  display: flex;
  align-items: center;
}
.active {
  border-radius: 20px;
  border: 1px solid black;
}
.list ul li {
  text-decoration: none;
  list-style: none;
}
.list ul {
  /* display: none; */
}
.list {
  display: flex;
  justify-content: end;
  align-items: center;
}

.test {
  margin: 100px;
}
table {
  border-collapse: separate;
  border-spacing: 0 1em;
}
tr {
  line-height: 25px;
}
tr > td {
  padding: 10px;
}
th,
td {
  padding: 20px;
  background-color: none;
}
.person-bg {
  color: rgb(98, 255, 92);
}
